---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import Footer from '../components/Footer.astro';


---

<Layout title="About Fausto Calviño">
	<Navbar />
        <main class="h-screen w-full flex flex-col items-center justify-center">
            <a class="mt-16 text-gray-900 dark:text-white" href="/" >Home</a>
            <h1 class="text-gray-900 dark:text-white">About me page</h1>
        </main>
        
    <Footer />
</Layout>