---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import Footer from '../components/Footer.astro';


---

<Layout title="About Fausto Calviño">
	<Navbar />
        <main class="h-screen w-full flex flex-col items-center justify-center  relative">
            <a class="mt-16 text-white py-2 p-4 rounded-lg bg-gray-600 dark:text-white absolute top-7" href="/" >Back Home</a>
            <h1 class="text-5xl text-gray-900 dark:text-white">About me page, work in progress</h1>
        </main>
        
    <Footer />
</Layout>