---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import About from '../components/About.astro';
import Projects from "../components/Projects.astro";
import Footer from '../components/Footer.astro';

---

<Layout 
	title="Portfolio Fausto Calviño ¦ Frontend Web Developer"
	faviconUrl='../../public/favicon.svg'
>
	<main>
		<Navbar />
		<About />
		<Projects />
		<Footer />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
