---

---

<!-- !ABOUT ME SECTION -->
<section class="section-container">
  <div class="flex gap-2">
    <span>ICON</span>
    <h2>about me</h2>
  </div>
  <div class="flex">
    <div class="flex flex-col gap-2">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta ullam et
        dicta dolor impedit. Maiores ducimus hic perferendis aspernatur
        repudiandae.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta ullam et
        dicta dolor impedit. Maiores ducimus hic perferendis aspernatur
        repudiandae.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta ullam et
        dicta dolor impedit. Maiores ducimus hic perferendis aspernatur
        repudiandae.
      </p>
    </div>
    <img
      class="order-1 object-cover w-64 h-full p-1 bg-white md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl dark:bg-yellow-500/5 ring-1 ring-white/20"
      src="/thumbnail.jpg"
      alt=""
    />
  </div>
</section>
<style>
  .section-container {
    @apply mx-auto max-w-[800px];
  }
</style>
