---

---

<!-- !ABOUT ME SECTION -->
<section class="section-container">
  <div class="flex gap-2">
    <!-- <span>ICON</span> -->
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 32 32" class="dark:text-white"><path fill="currentColor" d="M12 4a5 5 0 1 1-5 5a5 5 0 0 1 5-5m0-2a7 7 0 1 0 7 7a7 7 0 0 0-7-7m10 28h-2v-5a5 5 0 0 0-5-5H9a5 5 0 0 0-5 5v5H2v-5a7 7 0 0 1 7-7h6a7 7 0 0 1 7 7zm0-26h10v2H22zm0 5h10v2H22zm0 5h7v2h-7z"/></svg>
    <h2>Sobre mi tilde</h2>
  </div>
  <div class="flex">
    <div class="flex flex-col gap-2">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta ullam et
        dicta dolor impedit. Maiores ducimus hic perferendis aspernatur
        repudiandae.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta ullam et
        dicta dolor impedit. Maiores ducimus hic perferendis aspernatur
        repudiandae.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta ullam et
        dicta dolor impedit. Maiores ducimus hic perferendis aspernatur
        repudiandae.
      </p>
    </div>
    <img
      class="order-1 object-cover w-64 h-full p-1 bg-white md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl dark:bg-yellow-500/5 ring-1 ring-white/20"
      src="/thumbnail.jpg"
      alt=""
    />
  </div>
</section>
<style>
  .section-container {
    @apply mx-auto max-w-[800px];
  }
</style>
