---

---

<footer class="py-2 h-20 bg-white dark:bg-gray-800">
    <p class="font-medium text-lg text-center text-gray-900 dark:text-white">Source code of this project
        <a href="https://github.com/faustocalvinio/personal-portfolio" target="_blank" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">here</a></p>
</footer>