---

---

<section class="text-white flex flex-col min-h-screen items-center justify-center">
   <h1>Hola soy xxxx</h1>
   <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam et nobis
      veritatis!
   </p>
   <div class="flex gap-2">
      <button class="p-5">Github</button><button class="p-5">Github</button
      ><button class="p-5">Github</button>
   </div>
</section>
