---

---
<nav class="h-5 absolute top-3">
    <ul class="flex gap-2 w-fit mx-auto px-2 bg-red-300">
        <li>
            <a href="">Experiencia</a>
        </li>
        <li>
            <a href="">Proyectos</a>
        </li>
        <li>
            <a href="">Sobre Mi</a>
        </li>
    </ul>
</nav>