---

---

<nav class="mt-2 fixed mx-auto z-30 w-full">
  <ul class="flex gap-2 w-fit mx-auto border border-white px-4 py-2 rounded-lg">
    <li>
      <a href="">Experiencia</a>
    </li>
    <li>
      <a href="">Proyectos</a>
    </li>
    <li>
      <a href="">Sobre Mi</a>
    </li>
  </ul>
</nav>
