---
import DarkMode from "./DarkMode.astro";
---

<header class="w-full flex justify-center py-4 fixed">

    <nav class="px-4 py-2 text-white bg-gray-600 rounded-xl">
        
        <ul class="flex gap-2">
            <li>Experiencia</li>
            <li>Experiencia</li>
            
            <li>Experiencia</li>
            
            <li>Experiencia</li>
            
        </ul>
    </nav>
</header>
<!-- <DarkMode /> -->