<nav>
    <h3>logo</h3>
    <ul>
        <li>nav1</li>
        <li>nav2</li>
        <li>nav3</li>
        <li>nav4</li>
    </ul>
</nav>


<style>
    nav{
        width: 100%;
        position: fixed;
        background-color: aquamarine;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
</style>