---
import Project from "./Project.astro";
---

<!-- !PROJECTS SECTION -->
<section class="flex flex-col section-container mt-10 gap-5">
  <div class="flex gap-2">
    <span>ICON</span>
    <h2>Projects</h2>
  </div>
  <!-- <div class="w-4 aspect-square bg-cyan-500"></div>
		 -->
  <Project />
  <Project />
  <Project />
  <Project />
</section>
<style>
  .section-container {
    @apply mx-auto max-w-[800px];
  }
</style>
