---
const { title } = Astro.props;
---

<div class="flex justify-center w-[178px] max-w-xs flex-col items-center gap-2 rounded-lg border border-neutral-800 p-4 bg-[#5544] hover:bg-slate-700 cursor-pointer transition-all max-sm:w-full">    
    <slot />
    <h4 class="dark:text-white">{title}</h4>
<div>