---
import { Image } from 'astro:assets';
import myImage from "../../public/assets/image-park-compress.webp"
import SectionTitle from "../components/SectionTitle.astro";
---

<section id="about" class="py-14  max-sm:w-[90%] max-sm:mx-auto">
    <SectionTitle sectionTitle="About" />
    <div class="flex justify-between items-center my-5 max-sm:flex-col ">
        <div class="w-[45%] max-sm:w-full">
            <p class="text-xl text-gray-900 dark:text-white max-sm:text-center">Since half of 2021 I started to learn front-end web development in a self-taught way. I have knowledge in HTML, CSS, JavaScript and the React framework ecosystem. <br/><br/>Currently, I am expanding my knowledge in NextJS, TailwindCSS and more technologies that you can find on my website faustocalvinio.netlify.app. <br/><br/>I am available for any job opportunity related to these technologies.</p>
            
        </div>
        <div class="w-[30%] max-sm:w-full">
            <Image class="rounded-lg" src={myImage} alt="Una descripción de mi imagen." />
        </div>
    </div>
    
</section>