---
import { Image } from 'astro:assets';
import myImage from "../../public/assets/image-park-compress.webp"
import SectionTitle from "../components/SectionTitle.astro";
---

<section id="about" class="py-14  max-sm:w-[90%] max-sm:mx-auto">
    <SectionTitle sectionTitle="About" />
    <div class="flex justify-between items-center my-5 max-sm:flex-col ">
        <div class="w-[45%] max-sm:w-full">
            <p class="text-xl  text-gray-900 dark:text-white max-sm:text-center">Since half of 2021 I started to learn front-end web development in a self-taught way. I have knowledge in HTML, CSS, JavaScript and the React framework ecosystem.</p>
            <p class="text-xl mt-4 text-gray-900 dark:text-white max-sm:text-center">Currently, I am expanding my knowledge in NextJS, TailwindCSS and more technologies that you can find at this website.</p>
            <p class="text-xl mt-4 text-gray-900 dark:text-white max-sm:text-center">I am available for any job opportunity related to these technologies.</p>       
            
            <a href="/about-me" class="inline-flex items-center justify-center p-3 mt-10 text-base font-medium text-gray-500 rounded-lg bg-gray-50 hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-white">
                Learn everything about me
                <svg class="w-4 h-4 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a> 
   
        </div>
        <div class="w-[30%] max-sm:w-full">
            
            <ol class="relative border-l border-gray-200 dark:border-gray-700"> 
                <li class="ml-4 mb-10">
                    <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                    <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">April 2023 - Today</time>
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">SINONIMO de staarted learning frameworks , ponerlos en practica, etc</h3>
                    <p class="text-base font-normal text-gray-500 dark:text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum officia beatae at!</p>
                </li>
                <li class="mb-10 ml-4">
                    <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                    <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">May 2022  - April 2023</time>
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Worked as freelance WordPress Developer</h3>
                    <p class="text-base font-normal text-gray-500 dark:text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </li>                 
                <li class=" ml-4">
                    <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                    <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">July 2021</time>
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Started learning the basics of HTML, CSS & JavaScript</h3>
                    <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet.</p>
                    
                </li>
                
                
            </ol>
            <!-- <a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-200 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700">Learn more <svg class="w-3 h-3 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg></a> -->
            
        </div>
    </div>
    
</section>