



<header>
    <div class="left-text-container">

        <h1>My name is</h1>
        <span>i am</span>
        <button>linkedin</button>
    </div>
    <div class="header-image-container">
        <p>image</p>
    </div>
</header>

<style>
    header{
        /* width: 100vw; */
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: url('../../public/assets/wallpaper-1.jpg');
        background-repeat:no-repeat;
        background-size:cover;
    }
    h1,p,span{
        color:#fff
    }
</style>