---
import SectionTitle from "../components/SectionTitle.astro";
import ProjectCard from "../components/ProjectCard.astro";
---


<section class="py-14 max-sm:w-[90%] max-sm:mx-auto" id="projects">
    
    <SectionTitle sectionTitle="Projects" />

    <p class="text-xl my-5 text-gray-900 dark:text-white max-sm:text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit in, porro, perspiciatis ad eveniet veniam iusto vitae nostrum, modi et laboriosam eligendi. </p>
    
    <div class="grid-projects grid grid-cols-3 gap-5 max-sm:grid-cols-1">
        
        <ProjectCard />
        <ProjectCard />        
        <ProjectCard />     

    </div>
</section>