---
import SectionTitle from "../components/SectionTitle.astro";
import ProjectCard from "../components/ProjectCard.astro";
import urlImage from "../../public/assets/projects/active-url-shortening-app.png"
---

<section class="py-1 max-sm:w-[90%] max-sm:mx-auto"   id="projects">
    
    <SectionTitle sectionTitle="Projects" />
    <p class="text-xl my-5 text-gray-900 dark:text-white max-sm:text-center">Currently, I am actively working on projects using the technologies I've learned. In the near future, you will find links to the source code and live websites for each project in this section. Stay tuned for updates!</p>
    
    <div class="grid-projects grid grid-cols-3 gap-5 max-sm:grid-cols-1">
        
        <ProjectCard 
            technologies={['React','HTML','CSS','FetchAPI']}
            title="Url Shortening App"
            description="A challenge to integrate the shrtcode API ir order to create shortened URLs and display them."
            deployLink="https://url-shortening-app-fcc-challenge.netlify.app/"
            codeLink="https://github.com/faustocalvinio/frontendmentor/tree/main/url-shortening-app"
            image={urlImage}
        />       

    </div>
</section>