<section>
    
    <h4>
        projects
    </h4>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit in, porro, perspiciatis ad eveniet veniam iusto vitae nostrum, modi et laboriosam eligendi. Aspernatur aperiam dolor id vel sapiente, quam reprehenderit.
    Vel quibusdam eos labore quos tempore officiis, rerum ad, nostrum, porro magni aspernatur perspiciatis quam ea. Cumque dolores ducimus veniam fugiat aspernatur nostrum error nemo adipisci. Cumque vero repellat eum?
    Veritatis itaque perspiciatis amet quae debitis fugiat, quos excepturi, molestias eveniet placeat ratione quisquam in odit beatae explicabo accusamus. Ullam natus id rem esse. Neque ex placeat distinctio mollitia maiores!</p>
    <div class="grid-projects">
        <ul>
            <li>project placeholder</li>
            <li>project placeholder</li>
            <li>project placeholder</li>
            <li>project placeholder</li>
        </ul>
    </div>
</section>


<style>
    section{
        max-width: 1180px;
        background-color: aqua;
        margin: 0 auto  ;
        padding: 10px;
    }
    ul{
        display: grid;
        grid-template-columns: repeat(2,50%);
        list-style: none;
        margin:  0 auto;
        padding: 0px;
    }
    li{
        border: 1px solid blue;
        height: 300px;
    }
</style>