--- 
interface Props {
	title: string;
}
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" data-theme="light"> 
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
		<title>{title}</title>		
		<script defer>		
			if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
				document.documentElement.classList.add('dark');
			} else {
				document.documentElement.classList.remove('dark')
			}
		</script>
	</head>
	<body class="dark:bg-gray-900">			
		<slot />		
	</body>
</html>
<style is:global>	
	::selection{
		color: #fff;
		background-color: #000;
	}
	.dark ::selection {
		background-color: #fff;
		color: #000;
	}
	:root{
		--scrollbarTrackColor:#f1f1f1;
		--scrollbarThumbColor:#888;
	}

	::-webkit-scrollbar {
		width: 10px;
	}	
	::-webkit-scrollbar-track {
		background: var(--scrollbarTrackColor);
	}	
	::-webkit-scrollbar-thumb {
		background: var(--scrollbarThumbColor);
		border-radius: 5px;
	}
	.dark{
		--scrollbarThumbColor:#000;
		--scrollbarTrackColor:#1F2937;
	}
	*{
		scroll-behavior: smooth;
		scroll-padding-top: 90px;
	}
	
</style>